@model FilmZone.ViewModels.MovieDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}
<div class="card text-white bg-dark mb-3 rounded-4 mt-5 overflow-hidden ">
    <div class="card-body ms-3 p-0">
        <div class="d-flex flex-wrap">
            <div class="col-md-8">
                <div>
                    <h1 class=" text-primary fw-bolder mt-3">@Model.Title</h1>
                    <a asp-action="index" asp-controller="Home" asp-route-id="@Model.CategoryId"
                       class="badge rounded-pill bg-dark-subtle fs-6 text-info-emphasis text-decoration-none neon-hover">@Model.Category</a>
                    <p class="fs-5 text-light-emphasis mt-3 ">@Model.Description</p>
                    <p class="text-muted mt-2">Available On:</p>

                    <div style="display: flex; flex-wrap: wrap; gap: 8px; padding-top: 1px;">
                        <br />
                        @foreach (var StreamLogo in Model.StreamingLogos)
                        {
                            <img src="@Url.Content($"~/assets/images/Logos/{StreamLogo}.png")"
                                 alt="@StreamLogo"
                                 class="stream-logo me-2 fs-4" />
                        }
                    </div>
                </div>
                <div>
                </div>
            </div>
            <div class="col-md-4">
                <img alt="@Model.Title" class="w-100" src="@Url.Content($"~/assets/images/Movies/{Model.Cover}")" />

            </div>
        </div>
    </div>
</div>
@if (User.IsInRole("Admin"))
{
    <div>
        <a class="btn btn-outline-info rounded rounded-3 me-2" asp-action="Edit" asp-route-id="@Model.Id">
            <i class="bi bi-pencil-fill">Edit Movie</i>
        </a>
    </div>
}

<style>
    .stream-logo {
        width: 45px;
        height: 40px;
        border-radius: 8px;
        /*box-shadow: 0 0 6px rgba(200, 200, 200, 0.6); /* Neon glow */
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .neon-hover {
        transition: box-shadow 0.5s ease, color 0.5s ease;
    }

        .neon-hover:hover {
            box-shadow: 0 0 10px 3px #0d6efd, 0 0 18px 4px #0d6efd;
            color: #0d6efd;
        }


    .stream-logo:hover {
        transform: scale(1);
        box-shadow: 0 0 12px rgba(200, 255, 255, 0.9);
    }
</style>